.music-player{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  .row{
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
  }
  .img-song-playing{
    height: 3.5rem;
    width: auto;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;
  }

  .column-one{
    display: flex;
    flex-direction: row;
    flex: 2;
    align-items: center;
    .artist_name{
      font-weight: 400;
      color: #7f7f7f;
      font-size: 0.8rem;
    }
    p{
      margin-top: 0.3rem;
      cursor: pointer;
    }
    svg{
      cursor: pointer;
    }
  }

  .column-one-element{
    margin-right: 1rem;
  }

  .column-two{
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .row-buttons{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .button-music-player{
      margin-right: 1.5rem;
      cursor: pointer;
    }

    .row-time{
      margin-top: 0.7rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      p{
        font-weight: 400;
        color: #7f7f7f;
        font-size: 0.8rem;
        margin-left: 0.6rem;
        margin-right: 0.6rem;

      }
      .time-song{
        cursor: pointer;
      }
    }
    // background-color: rgb(105, 53, 53);
  }
  .column-three{
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-right: 1rem;
    .row-column-three{
      display: flex;
      align-items: center;
      .button-music-player{
        margin-right: 1.5rem;
        cursor: pointer;
      }
    }
  }
}





