<div class="container-main">
  <div class="row content">
    <div class="column navigation-menu">
      <app-side-navigation></app-side-navigation>
      <app-side-library></app-side-library>
    </div>
    <div class="column main-content">
      <app-header></app-header>
      <div class="row">
        <h2 class="greeting">Good Evening!</h2>
      </div>

      <div class="row horizontal horizontal-first">
        <img src="" alt="">
        <app-horizontal-card class="horizontal-card" [img]="'../assets/jpg/album/fuerza_natural.jpg'" [text]="'Fuerza Natural'"></app-horizontal-card>
        <app-horizontal-card class="horizontal-card" [img]="'../assets/jpg/artist/bizarrap.jpeg'" [text]="'Bizarrap'"></app-horizontal-card>
        <app-horizontal-card class="horizontal-card" [img]="'../assets/jpg/album/your_likes.png'" [text]="'Your likes'"></app-horizontal-card>
      </div>

      <div class="row horizontal">
        <app-horizontal-card class="horizontal-card" [img]="'../assets/jpg/artist/gustavo_cerati.jpg'" [text]="'Gustavo Cerati'"></app-horizontal-card>
        <app-horizontal-card class="horizontal-card" [img]="'../assets/jpg/artist/soda_stereo.png'" [text]="'Soda Stereo'"></app-horizontal-card>
        <app-horizontal-card class="horizontal-card" [img]="'../assets/jpg/artist/tame_impala.jpg'" [text]="'Tame Impala'"></app-horizontal-card>
      </div>

      <div class="row">
        <h2 class="made">Made for cesarcent</h2>
      </div>

      <div class="row square-card list-mix">
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/mix/electronica_mix.png'" [title]="'Electronica mix'" [detail]="'A blend of music for Dan & Hayley, updates everyday'"></app-square-card>
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/mix/mix_diario_1.png'" [title]="'Mix diario 1'" [detail]="'Eminem, Pitbull, Metro Boomin and more'"></app-square-card>
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/mix/mix_diario_2.png'" [title]="'Mix diario 2'" [detail]="'The Strokes, Muse, Arctic Monkeys and more'"></app-square-card>
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/mix/mix_diario_3.png'" [title]="'Mix diario 3'" [detail]="'Tame Impala, Imagine Dragons, Phoenix and more'"></app-square-card>
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/mix/mix_diario_4.png'" [title]="'Mix diario 4'" [detail]="'Lofi Gamer, Derrol, Jharna and more'"></app-square-card>
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/mix/mix_diario_5.png'" [title]="'Mix diario 5'" [detail]="'Coldplay, Blur, Oasis and more'"></app-square-card>
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/mix/mix_diario_6.png'" [title]="'Mix diario 6'" [detail]="'El Cuarteto De Nos, Gustavo Cerati and more'"></app-square-card>
      </div>

      <div class="row">
        <h2 class="made">Your favorite artists</h2>
      </div>

      <div class="row square-card list-artist">
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/artist/muse.jpeg'" [title]="'Muse'" [detail]="'Artist'" [circular]="true"></app-square-card>
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/artist/dua_lipa.jpeg'" [title]="'Dua Lipa'" [detail]="'Artist'" [circular]="true"></app-square-card>
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/artist/foo_fighters.jpeg'" [title]="'Foo Fighters'" [detail]="'Artist'" [circular]="true"></app-square-card>
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/artist/the_beatles.png'" [title]="'The Beatles'" [detail]="'Artist'" [circular]="true"></app-square-card>
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/artist/nirvana.jpeg'" [title]="'Nirvana'" [detail]="'Artist'" [circular]="true"></app-square-card>
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/artist/oasis.jpeg'" [title]="'Oasis'" [detail]="'Artist'" [circular]="true"></app-square-card>
        <app-square-card class="square-card-individual" [img]="'../assets/jpg/artist/the_rolling_stones.jpeg'" [title]="'The Rolling Stones'" [detail]="'Artist'" [circular]="true"></app-square-card>
      </div>
    </div>
  </div>
  <div class="row">
    <app-music-player></app-music-player>
  </div>
</div>
